.myToolbar{
    --background:  #FFD200; //background color of the header
    --color: #000000; //text color
}


ion-content {
    --ion-background-color: #F5F5F5;
}


ion-card-title{
    font-size: 22px !important;
    size: 22px !important;
}

.content { 
    background-color: "#F5F5F5"!important;
}