<ion-header>
  <ion-toolbar mode="ios"  class="myToolbar">
    <ion-title>Marketplace</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-item class = "search" style="display: flex; align-items: center">
    <ion-searchbar showCancelButton="focus" style="margin: auto 0;"></ion-searchbar>
      <ion-button id="filterButton" style="margin: auto 0" size="small" (click)="openModal()"><ion-icon name="options-outline"></ion-icon></ion-button> 
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="plus-button">
    <ion-fab-button (click) = "postPage()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

   <ion-card (click) = 'itemPage()'>
    <img src="assets/ucisweater.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>SCHOOL APPAREL</ion-card-subtitle>
      <ion-card-title>UCI Sweater</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Slightly Worn UCI Sweater!
    </ion-card-content>
  </ion-card>

  <ion-card >
    <img src="assets/textbook.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>SCHOOL SUPPLIES</ion-card-subtitle>
      <ion-card-title>Lissabon Textbook</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Brand new textbook.
    </ion-card-content>
  </ion-card>
  
</ion-content>