<ion-header [translucent]="true">
  <ion-toolbar color="warning" class="myToolbar">
    <ion-title>Marketplace</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-grid>  
    <ion-row>  
      <ion-col size="8"><ion-searchbar showCancelButton="focus"></ion-searchbar></ion-col>  
      <ion-col><ion-button size="small">Filter</ion-button></ion-col>  
    </ion-row>  
  </ion-grid> 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="plus-button">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

   <ion-card>
    <img src="assets/calculator.jpg"/>
    <ion-card-header>
      <ion-card-subtitle slot="start">SCHOOL SUPPLIES</ion-card-subtitle>
      <ion-card-subtitle slot="end">$10.00</ion-card-subtitle>
      <ion-card-title>TI-85 Calculator</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Used TI-85 calculator. It works perfectly!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/textbook.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>SCHOOL SUPPLIES</ion-card-subtitle>
      <ion-card-title>Photography Textbook</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Brand new Photography textbook for photography tips.
    </ion-card-content>
  </ion-card>
  
</ion-content>
