ion-content {
    --ion-background-color: #F5F5F5;
}

#user-icon {
    font-size: 5rem;
}

.info {
    background-color: #E7E7E7;
    padding: 10px;
    margin: 5%;
    border-radius: 7px;
}

.wrap-text {
    margin-left: 5%;
}

.wrap-input {
    background-color: white;
    border-radius: 7px;
    width: 60%;
    margin-left: 10%;
}

.wrap-icon {
    padding-left: 10px;
}

.segment {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.segment-bar {
    background-color: white;
    padding: 10px;
    border-radius: 7px;
}

.segment-list {

    border-radius: 7px;
}

.item-list {
}

ion-card {
    background-color: white;

}