<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios" >Message NAME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <!--card that's copy/pasted for messages section.-->
    <ion-card class = "left">
      <ion-card-content >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt neque vitae varius porttitor.
      </ion-card-content>
    </ion-card>

    <ion-card class = "right">
      <ion-card-content >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      </ion-card-content>
    </ion-card>

    <ion-card class = "left">
      <ion-card-content >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt neque vitae varius porttitor. Maecenas et leo feugiat, imperdiet libero eu, pulvinar nunc.
      </ion-card-content>
    </ion-card>

    <ion-card class = "right">
      <ion-card-content >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      </ion-card-content>
    </ion-card>

    <ion-card class = "left">
      <ion-card-content >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      </ion-card-content>
    </ion-card>

    <ion-card class = "right">
      <ion-card-content >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      </ion-card-content>
    </ion-card>

    <ion-card class = "left">
      <ion-card-content >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt neque vitae varius porttitor.
      </ion-card-content>
    </ion-card>

    <ion-card class = "right">
      <ion-card-content >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      </ion-card-content>
    </ion-card>

</ion-content>
