<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios" >Message NAME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <!--card that's copy/pasted for messages section.-->
    <ion-card class = "left">
      <ion-card-content >
        Hi Peter, I'm seeing if the item you have for sale is still available. Let me know if it is please. 
      </ion-card-content>
    </ion-card>

    <ion-card class = "right">
      <ion-card-content >
        Hi, yes it is still available. Was there any other information you would like to know about it?
      </ion-card-content>
    </ion-card>

    <ion-card class = "left">
      <ion-card-content >
        Yes. I was curious where you are able to meet.
      </ion-card-content>
    </ion-card>

    <ion-card class = "right">
      <ion-card-content >
        You can check where I am able to meet on the post page as it shows geo-location droppers.
      </ion-card-content>
    </ion-card>

    <ion-card class = "left">
      <ion-card-content >
        Alright. I just checked them. Are you able to meet at 5pm today near the Starbucks in Target?
      </ion-card-content>
    </ion-card>

    <ion-card class = "right">
      <ion-card-content >
        Sure thing. I'll see you then!
      </ion-card-content>
    </ion-card>

    <ion-card class = "left">
      <ion-card-content >
        See you!
      </ion-card-content>
    </ion-card>



</ion-content>
