<ion-header >
  <ion-toolbar class = "header" >
    <ion-buttons slot="start">
      <ion-back-button (click) = "presentAlert()" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Post Page
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content >
  <ion-list >
    <ion-list-header class = "sub-header">
      <ion-label>
        Contact Information
      </ion-label>
    </ion-list-header>
    <ion-item class="info-field">
      <ion-label>Phone</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="info-field">
      <ion-label>Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="info-field">
      <ion-label>Location</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-list-header class = "sub-header">
      <ion-label>
        Item For Sale
      </ion-label>
    </ion-list-header>

      <!-- <ion-thumbnail slot="start">
        <ion-img src="assets/nintendo.jpeg"></ion-img>
      </ion-thumbnail> -->

    <ion-item  class="info-field">
      <ion-grid >
        <ion-row>
          <ion-col style = "text-align:center">
            <ion-button (click) = "displayPhoto()" size="small" color="medium" position = "relative">
              <ion-icon name="add-outline"></ion-icon>
              Add Photo
            </ion-button>
            <ion-img  src = "../assets/nintendo.jpg" *ngIf = "loadPhoto"> </ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
   
    

    <ion-item class="info-field">
      <ion-label>Title</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="info-field">
      <ion-label>Price</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="info-field"> 
      <ion-label>Category</ion-label>
      <ion-select class = "option" interface="popover">
        <ion-select-option >Apparel</ion-select-option>
        <ion-select-option >Entertainment</ion-select-option>
        <ion-select-option>Electronics</ion-select-option>
        <ion-select-option>Supplies</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="info-field">
      <ion-textarea placeholder="Description"></ion-textarea>
    </ion-item>
    <ion-list-header class = "sub-header">
      <ion-label>
        Time For Sale
      </ion-label>
    </ion-list-header>
  </ion-list>

  <ion-toolbar class = "background" >
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value = "Select">
        <ion-label>Select Time</ion-label>
      </ion-segment-button>
      <ion-segment-button value = "Sold">
        <ion-label >Until Sold</ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>

  <ion-item *ngIf = "loadSlider" style = "--background: #92949c">
    <ion-range min="1" max="365" pin  color="light">
      <ion-label slot="start">1 day</ion-label>
      <ion-label slot="end">365 days</ion-label>
    </ion-range>
  </ion-item>
    

  <!-- <ion-row style="height: 20px"></ion-row> -->
  
  <ion-button class = "post" (click) = "uploadPost()" shape = "round" expand = "block" > Post </ion-button>

  <ion-row style="height: 20px"></ion-row>

</ion-content>
