<ion-header>
  <ion-toolbar>
    <ion-title>Filter Search</ion-title>
    <ion-button slot="end" size="small" id="closeButton" (click)="closeModal()"> Close
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label position="stacked" class="filterTitle">Price Range</ion-label>
  <ion-range pin="true" dual-knobs snaps="true" min="0" max="400" step="50">
    <ion-label slot="start">0</ion-label>
    <ion-label slot="end">400</ion-label>
  </ion-range>


  <ion-label position="stacked" class="filterTitle">Sort By:</ion-label>
  <ion-button [color]="buttonColor" class="filterButton" (click)="changeColor()">Price
    <ion-icon slot="end" name="arrow-up-outline"></ion-icon>
  </ion-button>
  <ion-button [color]="buttonColor" class="filterButton" (click)="changeColor()">Price
    <ion-icon slot="end" name="arrow-down-outline"></ion-icon>
  </ion-button>
  <ion-button [color]="buttonColor" class="filterButton" (click)="changeColor()">Relevance</ion-button>
  <ion-button [color]="buttonColor" class="filterButton" (click)="changeColor()">Most Recent</ion-button>


  <ion-label class="filterTitle">Filters</ion-label>
  <ion-button [color]="buttonColor" class="filterButton" id="imagePosts" (click)="changeColor()">Only Show Posts with Images</ion-button>
  <ion-button [color]="buttonColor" class="filterButton" id="todayPosts" (click)="changeColor()">Posted Today</ion-button>


<ion-footer>
  <ion-button color=#0064A4 id="submitButton" (click)="closeModal()">Save Changes</ion-button>
</ion-footer>

</ion-content>
