.filterTitle {
   padding-bottom: 20px;
   top: 20px;
   margin: 5px;
}

.filterButton {
    background-color: #0064A4;
}

.content { 
    --background:  #f5f5f5;
}

#submitButton {
    position: fixed;
    left: 0;
    bottom: 30px;
    right: 0;
    background-color: #0064A4;
}