<ion-header  >
  <ion-toolbar class  = "header">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title style= "color: #0064A4;" >
      Item Description
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="align-items: center;">
    <img src="./assets/notebooks.jpg" />
    <ion-card-header >
      
      <ion-card-title  style="font-size: 5em;">
        Notebooks $10.00
      </ion-card-title>
      <ion-card-subtitle >New Notebooks</ion-card-subtitle>
      <ion-card-subtitle >Location: Phoenix Grill</ion-card-subtitle>
      <ion-card-subtitle >Phone: 123-234-5667</ion-card-subtitle>
      <ion-card-subtitle >Email: zotzot@uci.edu</ion-card-subtitle>
    </ion-card-header>

    
  </ion-card>
</ion-content>



 

