ion-toolbar{
    --background:  #FFD200; //background color of the header
    --color: #000000; //text color
    color: #0064A4
}

ion-content{
    --background: #FFFFFF;

}

ion-card{
    --background: #C6BEB5;
    --color: #000000;

}

.button{
    background-color: #C6BEB5;
    color: #000000;
    width:300px;
    margin-right: 25px;
    height: 32;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;

}




//tried to fix the overflow/ellipsis issue but that's harder said than done. 
ion-card-header{
    --color: #000000;
    width:300px;
    margin-right: 25px;
    height: 32;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


ion-card-title{

    --color: #000000;

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    
    font-size: 24px !important;
    size: 24px !important;
    
}
