<ion-header [translucent]="true">
  <ion-toolbar mode="ios" class="myToolbar">
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">

  <ion-card class = "cards">
    
    <ion-card-header class = "cardHeader"> 
      <img  src="assets/person.png"/>
      &nbsp;&nbsp;
      <ion-card-title  class = "cardTitle" mode = "ios">TI-85 Calculator</ion-card-title>
      
      
    </ion-card-header >
    <ion-card-content>
      Hi Peter, I'm seeing if the calculator you have for sale is still available. Let me know if it is please. Sincerely, Harold.
    </ion-card-content>
  </ion-card>

  <ion-card class = "cards">
    
    <ion-card-header class = "cardHeader"> 
      <img src="assets/person.png"/>
      &nbsp;&nbsp;
      <ion-card-title  class = "cardTitle" mode = "ios">Peter Stickers</ion-card-title>
      
      
    </ion-card-header >
    <ion-card-content>
      Hi Peter, I'm seeing if the stickers you have for sale is still available. Let me know if it is please. Sincerely, Maude.
    </ion-card-content>
  </ion-card>

  <ion-card class = "cards">
    
    <ion-card-header class = "cardHeader">  
      <img  src="assets/person.png"/>
      &nbsp;&nbsp;
      <ion-card-title  class = "cardTitle" mode = "ios">Swaggy Glasses</ion-card-title>
      
      
    </ion-card-header >
    <ion-card-content>
      Hi Peter, I'm seeing if the glasses you have for sale is still available. Let me know if it is please. Sincerely, Swagman.
    </ion-card-content>
  </ion-card>

  <ion-card class = "cards">
    
    <ion-card-header class = "cardHeader"> 
      <img  src="assets/person.png"/>
      &nbsp;&nbsp;
      <ion-card-title  class = "cardTitle" mode = "ios">Really Long Textbook Title </ion-card-title>
      
      
    </ion-card-header >
    <ion-card-content>
      Hi Peter, I'm seeing if the textbook you have for sale is still available. Let me know if it is please. Sincerely, petr_the_anteater.
    </ion-card-content>
  </ion-card>




</ion-content>